.center{
    max-width: 1179px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}


@import "site/variables";
@import "site/header";
@import "site/slider";
@import "site/services";
